h2 {
    color: darkgrey;
    text-align: center;
    font-size: 50px;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 20px 20px;
    border: none;
    border-radius: 6px;
    align: center;
}

body {
    background-color: GhostWhite;
    padding: 20px;
}